<h2>Drop feed</h2>
<hr>
<!-- sorted by date by default in controller-->
<!-- by delivery or collection location -->

<!-- render with loop -->
<%=  render :partial => 'feed', :collection => @drops, :as => :drop %>
