<h2>Drop for <%= @drop.delivery_location %></h2>
<hr>
    <p class="placeholder-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in. </p>


    <%= render :partial => 'feed', :object => @drop, :as => :drop %>


<h2>Collection Location</h2>
<hr>

  <p class="placeholder-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <style media="screen">
      #map {
        height: 100vh
      }

      html, body {
        height: 100vh;
        margin: 0;
        padding: 0;
      }

    </style>

    <div id="map"></div>


    <script>

      const collection = <%= @drop.attributes.slice('latitude', 'longitude').to_json.html_safe %>

          function initMap() {

          //create a bounding box object
            // var bounds = new google.maps.LatLngBounds();


            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 14,
              center: {lat: collection.latitude, lng: collection.longitude}
            });




            var marker = new google.maps.Marker({
              position: {lat: collection.latitude, lng: collection.longitude},
              map: map,
              title: collection.name
            });

            // bounds.extend( marker.position ); //extends bounding box to include new position on every iteration


          // map.fitBounds( bounds );

          }
        </script>


    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQo09N5d4Tc0E76p4FtMcHB9xFMKrah98&callback=initMap">
        </script>
