<h2>Drop for <%= @drop.delivery_location %></h2>
<hr>
    <p class="placeholder-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in. </p>


    <%= render :partial => 'feed', :object => @drop, :as => :drop %>


<h2>Collection Location</h2>
<hr>

<% if @current_user.present? %>
  <p class="placeholder-text">The collections available to you within a 10km radius are below</p>

  <%= render :partial => 'map' %>
<% else %>

    <p class="placeholder-text">Please login or sign up to find your closest collections</p>

<% end %>
