<h2>Set-up Account</h2>

<p>We appreciate your support, <%= @user.name %>. </p>
<p>If you could take a moment to finish account set-up</p>

<h3>Up'n'Coming drops</h3>
<hr>
<!-- sorted by date by default in controller-->
<!-- by delivery or collection location -->
<%=  render :partial => '/drops/feed', :collection => @drops, :as => :drop %>

<h3>Create a drop</h3>

<%= render :partial => '/drops/form' %>

<hr>

<%= link_to 'View Profile', user_path(@current_user.id) %>
