<div id="welcome-header">
  <div id="welcome-header-text">
    <div id="welcome-message">
            <h1>Stronger Together!</h1>
            <h1>Make a Difference Today</h1>
            <!-- <h3>sign up now</h3> -->
            <div id="toggle-signup-button">

                <!-- <p>dropdown</p> -->
              <%=   button_tag 'Sign Up Now' %>

           </div>
             <div id="toggle-signup-form">

                  <!-- <p>form</p> -->
                  <%= render :partial => '/users/form' %>

              </div >

      </div>
    </div>
</div>



<div id="big-image">
</div>

<!-- <hr> -->

<div id="shape-container">

    <div id="left-skew">

    </div>

    <div id="right-skew">

    </div>


</div>

<div id="logo">
  <div class="logo-image"></div>
</div>

<div id="homepage-content">
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
<p>j</p>
</div>
