.drop-feed-item {
  height: auto;
  width: auto;
  background-color: #ff9800;
  padding: 1em;
  margin: 1em;
  box-sizing: border-box;
  border-radius: 1em;
  display: flex;
  justify-content: flex-start;

  &__content-container {
    margin: 0.5em 3em;
    display: flex;
    flex-direction: column;
  }

  &__collection-info-container {
    display: flex;
  }

  &__collection-info {
    margin: 0.5em;
    color: white;
  }

  &__product-requests-toggle {
    padding: 1em 0 1em 0;
    cursor: pointer;
  }

  &__donate-requests-toggle {
    padding: 1em 0 1em 0;
    cursor: pointer;
  }

  div[class^='drop-feed-item__product-requests-content'] {
    display: none;
  }

  div[class^='drop-feed-item__donate-requests-content'] {
    display: none;
  }

  &__link {
    margin-top: 1em;
  }
}

.calendar {
  height: 7.5em;
  width: 8.5em;
  background-color: white;
  border-radius: 1em;
  align-self: center;
  margin: 0.5em 1.5em;
  border-bottom: double;
  box-shadow: -0.2em 0.2em 0px 1px #00000026;

  &__bar {
    width: 8.5em;
    height: 2em;
    background: red;
    border-radius: 1em 1em 0 0;
  }

  &__date {
    text-align: center;
    margin: 1.5em auto;
  }
}
