div#create-drop-form {
  margin: 2em;
}

div#create-drop-form input[type=text], input[type=date], textarea {
  width: 20%;
  padding: 0.5em;
  border-radius: 4px;
  margin-top: 2em;
  margin-bottom: 3em;
}
