<!-- loop being handled by render  -->

 <!-- @products.each do | product |  -->

    <li class="mrequest-item">

      <%= image_tag 'diaper-svg-transparent.png', alt: 'diaper image', class: 'item-image' %>

      <h3 class="mrequested-title"> <%= product.name %></h3>

      <% if product.line_items.present? %>

      <p class="mrequested-count">
            Requested on <%= product.line_items.count %> drop(s)
      </p>

          <% total_requested = 0 %>
        <% product.line_items.each do | line | %>

            <% total_requested += line.quantity  %>

        <% end %>

        <p class="mrequested-total">
              Total Requested: <%= total_requested %>
        </p>


      <% end %>
    </li>

<!-- end -->
