<h1>Map#test</h1>
<p>Find me in app/views/map/test.html.erb</p>

<style media="screen">
  #map {
    height: 100vh
  }

  html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
  }

</style>

<div id="map"></div>


<script>

  const users = <%= @users.to_json.html_safe %>

      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

      //create a bounding box object
        var bounds = new google.maps.LatLngBounds();


        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

      for (let i = 0; i < users.length; i++) {

          const user = users[i];

        var marker = new google.maps.Marker({
          position: {lat: user.latitude, lng: user.longitude},
          map: map,
          title: user.name
        });

        bounds.extend( marker.position ); //extends bounding box to include new position on every iteration

      } // for looop

      map.fitBounds( bounds );

      }
    </script>






<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQo09N5d4Tc0E76p4FtMcHB9xFMKrah98&callback=initMap">
    </script>
